.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  font-family: "Poppins",sans-serif;
    justify-content: space-around;
  }
  
  .product-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-details {
    padding: 20px;
    text-align: center;
  }
  
  .product-name {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart:hover {
    background-color: #218838;
  }
  